<style>
    .table{
        border: 1px solid;
    }

    .td{
        border: 1px solid;
    }

    .th{
        border: 1px solid;
    }
</style>

<p>Employee List</p>



    <div *ngFor="let data of empList">
        <table class="table">
            <thead>
                <tr>

                    <th class="th">Name</th>
                    <th class="th">Email</th>
                    <th class="th">Salary</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td">{{data.name}}</td>
                    <td class="td">{{data.email}}</td>
                    <td class="td">{{data.salary}}</td>

                </tr>
            </tbody>

        </table>
